@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border m-0 p-0;
  }
  body {
    @apply min-h-dvh text-white bg-primary w-full;
  }
}

html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 10px; 
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-corner {
  background: #ededed; 
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}
 
.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}